<% if (locals.messages) { %>
  <% messages.forEach(function (message) { %>
    <div class="alert alert-danger">
  	<strong><%= message.string %></strong>
</div>
  <% }) %>
  <% removeMessages() %>
<% } %>