<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <!-- Common site styles -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- Individual page styles -->
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body>
  <div id="wrap">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Experiment</a></li>
          <li><a href="/archive">Archive</a></li>
          <li><a href="/account">Account</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <h3 class="text-muted">Remote Lab Sensors</h3>
      </div> <!-- header -->
      <div class="body">
        <h2>Run an Experiment</h2>
        <div class="panel panel-default" id="accordion">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion"
                href="#form-panel">
              Experiment Setup
              </a>
            </h4>
          </div>
          <!-- Need experiment name, period, description, contact -->
          <div id="form-panel" class="panel-collapse collapse in">
            <div class="panel-body">
              <form role="form">
                <div class="form-group">
                  <label for="name" class="control-label">
                  Experiment Name
                  </label>
                  <input type="text" class="form-control" id="name"
                    placeholder="Awesome Name" name="name" required>
                </div>
                <div class="form-group">
                  <label for="period" class="control-label">
                  Collection Rate (seconds)
                  </label>
                  <input type="number" class="form-control" id="peroid"
                    value="1" name="speed" min="1" required>
                  <span class="help-block">
                    <small>
                    How often experiment data will be written to file.
                    </small>
                  </span>
                </div>
                <div class="form-group">
                  <label for="description" class="control-label">
                  Description (optional)
                  </label>
                  <textarea class="form-control" name="description"></textarea>
                </div>
                <label class="control-label">
                Alert Contact Method
                </label>
                <div class="form-group">
                  <label class="radio-inline">
                    <input type="radio" value="none" name="contact" checked>
                    None
                  </label>
                  <label class="radio-inline">
                    <input type="radio" value="email" name="contact">
                    Email
                  </label>
                  <label class="radio-inline">
                    <input type="radio" value="text" name="contact">
                    Text
                  </label>
                  <label class="radio-inline">
                    <input type="radio" value="both" name="contact">
                    Both
                  </label>
                </div>
                <p>Configure sensors down below, and then press start.</p>
              </form>
            </div> 
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="btn-group btn-group-lg">
              <button class="btn btn-primary">Start</button>
              <button class="btn btn-danger">Stop</button>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="text-right">
              <div class="btn-group btn-group-lg">
                <button class="btn btn-primary">Relay On</button>
                <button class="btn btn-danger">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="sensors">
          <h2>Sensors</h2>
          <div class="row" id="row-one">
            <div class="col-md-5">
              <p>Liquid Temperature Sensor</p>
            </div>
            <div class="col-md-1">
              <p class="text-left"><strong id="liquid"></strong></p>
            </div>
            <div class="col-md-1">
              <p>&deg;C</p>
            </div>
            <div clss="col-md-5">
              <div class="text-right">
                <button class="btn btn-primary btn-xs text">Configure</button>
              </div>
            </div>
          </div>
          <div class="row" id="row-two">
            <div class="col-md-5">
              <p>Gas Temperature Sensor</p>
            </div>
            <div class="col-md-1">
              <p class="text-left"><strong id="gas"></strong></p>
            </div>
            <div class="col-md-1">
              <p>&deg;C</p>
            </div>
            <div clss="col-md-5">
              <div class="text-right">
                <button class="btn btn-primary btn-xs text">Configure</button>
              </div>
            </div>
          </div>
          <div class="row" id="row-three">
            <div class="col-md-5">
              <p>Camera Color Dectection</p>
            </div>
            <div class="col-md-2">
              <p class="text-left"><strong>black</strong></p>
            </div>
            <div clss="col-md-5">
              <div class="text-right">
                <button class="btn btn-primary btn-xs text">Configure</button>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- body -->
    </div> <!-- container -->
  </div> <!-- wrap -->
  <div id="footer">
    <div class="container">
      <p>&copy; <%= company %></p>
    </div> <!-- container -->
  </div> <!-- footer -->

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/index.js"></script>
</body>
</html>