<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/login.css" />
</head>
<body>

  <div class="container">

    <form class="form-signin" role="form" action="/login" method="post">
      <h1>Remote Lab Sensors</h1>
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control form-group" 
        placeholder="Username" name="user[name]" required autofocus>
      <input type="password" class="form-control form-group" 
        placeholder="Password" name="user[pass]" required>
      <label class="checkbox form-group">
        <input type="checkbox" value="remember-me" name="stay"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in
      </button>
      <a href="/register">Need an account? Click here</a>
    </form>

    <% include partials/messages %>

  </div> <!-- /container -->

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>