<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/register.css" />
</head>
<body>

  <div id="wrap">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/login">Login</a></li>
          <li class="active"><a href="/register">Register</a></li>
        </ul>
        <h3 class="text-muted">Remote Lab Sensors</h3>
      </div> <!-- header -->
      <div class="body">
        <h1 class="text-center">Create an Account</h1>
        <div id="ajax-alerts"></div>
        <form role="form" method="post" action="/register">
          <div class="form-group">
            <label for="username" class="control-label">
            Username
            </label>
            <input type="text" class="form-control" id="username"
              name="user[name]" required autofocus>
          </div>
          <div class="form-group">
            <label for="password" class="control-label">
            Password
            </label>
            <input type="password" class="form-control" id="password"
              name="user[pass]" required>
          </div>
          <div class="form-group">
            <label class="control-label" for="confirm">
            Confirm Password
            </label>
            <input type="password" class="form-control" id="confirm"
              name="user[confirm]" required>
            <span class="help-block">
              <small>
              Password must be at least <%= minlen %> characters long.
              </small>
            </span>
          </div>
          <div class="form-group">
            <label class="control-label" for="device-id">
            Device ID
            </label>
            <input type="text" class="form-control" name="id"
              id="device-id" required>
            <span class="help-block">
              <small>
              Provided with hardware.
              </small>
            </span>
          </div>
          <button class="btn btn-lg btn-primary form-group" type="submit">
          Create
          </button>
        </form>
      </div> <!-- body -->
    </div> <!-- container -->
  </div> <!-- wrap -->
  <div id="footer">
    <div class="container">
      <p>&copy; <%= company %></p>
    </div> <!-- container -->
  </div> <!-- footer -->

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/alerts.js"></script>
  <script src="/javascripts/register.js"></script>
</body>
</html>