html,
body {
  height: 100%;
}

#wrap .container {
  padding-top: 20px;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;

}

.header,
.body,
#footer {
	padding-left: 15px;
	padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

#footer {
  height: 60px;
}

#footer .container {
  border-top: 1px solid #e5e5e5;
}

#footer .container p {
  margin: 20px 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media screen and (min-width: 768px) {
  .header,
  .body,
  #footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}