body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

li {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.body h1 {
	text-align: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}